################################################
# Define the class "NitrobitPsw" with keys:    #
#       email: the usname / email for nitrobit #
#       psw: the password for nitrobit         #
#                                              #
# The parameters of this file is used in:      #
#       downloadMgr.py                         #
################################################

class NitrobitPsw:
    email=ENTER_YOUR_USER
    psw=ENTER_YOUR_PASSWORD
